<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.camvil.repository.BoardRepository">
    <resultMap id="boardMap" type="com.app.camvil.dto.BoardDTO">
        <result column="board_id" property="boardId"/>
        <result column="user_id" property="userId"/>
        <result column="campsite_code" property="campsiteCode"/>
        <result column="board_content" property="boardContent"/>
        <result column="comment_cnt" property="commentCnt"/>
        <result column="like_cnt" property="likeCnt"/>
        <result column="post_date" property="postDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>
    
    <select id="getBoards" resultType="com.app.camvil.dto.BoardsDTO">
        SELECT b.board_id as boardId,
		b.user_id as userId, u.user_image_path as userImagePath, u.user_name as userName,
		cs.campsite_code as campsiteCode, cs.campsite_name as campsiteName,
        cs.mapX as mapX, cs.mapY as mapY, b.board_content as boardContent,
        b.post_date as postDate, b.update_date as updateDate, b.comment_cnt as commentCnt, b.like_cnt as likeCnt
        FROM boards as b, users as u, campsites as cs
        WHERE b.user_id = u.user_id AND b.campsite_code = cs.campsite_code
        AND b.board_content LIKE concat('%', '${search}' ,'%') AND b.usable=true AND u.usable=true
        GROUP BY b.board_id
        ORDER BY ${order} desc LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="getBoardsByUserId" resultType="com.app.camvil.dto.BoardsDTO">
        SELECT b.board_id as boardId,
		b.user_id as userId, u.user_image_path as userImagePath, u.user_name as userName,
		cs.campsite_code as campsiteCode, cs.campsite_name as campsiteName,
        cs.mapX as mapX, cs.mapY as mapY, b.board_content as boardContent,
        b.post_date as postDate, b.update_date as updateDate, b.comment_cnt as commentCnt, b.like_cnt as likeCnt
        FROM boards as b, users as u, campsites as cs
        WHERE b.user_id = u.user_id AND b.campsite_code = cs.campsite_code
        AND b.user_id = '${userId}' AND b.usable=true AND u.usable=true
        GROUP BY b.board_id
        ORDER BY post_date desc
    </select>
    <select id="getBoardsByUserIdWithPaging" resultType="com.app.camvil.dto.BoardsDTO">
        SELECT b.board_id as boardId,
		b.user_id as userId, u.user_image_path as userImagePath, u.user_name as userName,
		cs.campsite_code as campsiteCode, cs.campsite_name as campsiteName,
        cs.mapX as mapX, cs.mapY as mapY, b.board_content as boardContent,
        b.post_date as postDate, b.update_date as updateDate, b.comment_cnt as commentCnt, b.like_cnt as likeCnt
        FROM boards as b, users as u, campsites as cs
        WHERE b.user_id = u.user_id AND b.campsite_code = cs.campsite_code
        AND b.user_id = '${userId}' AND b.usable=true AND u.usable=true
        GROUP BY b.board_id
        ORDER BY b.post_date desc LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="getLikeBoardsByUserId" resultType="com.app.camvil.dto.BoardsDTO">
        SELECT b.board_id as boardId,
		b.user_id as userId, u.user_image_path as userImagePath, u.user_name as userName,
		cs.campsite_code as campsiteCode, cs.campsite_name as campsiteName,
        cs.mapX as mapX, cs.mapY as mapY, b.board_content as boardContent,
        b.post_date as postDate, b.update_date as updateDate, b.comment_cnt as commentCnt, b.like_cnt as likeCnt
        FROM boards as b, users as u, campsites as cs
        WHERE b.user_id = u.user_id AND b.campsite_code = cs.campsite_code
        AND b.board_id IN ( SELECT board_id FROM likes WHERE user_id = '${userId}' AND like_ = true )
        AND b.usable=true AND u.usable=true
        GROUP BY b.board_id
        ORDER BY post_date desc
    </select>
    <select id="getLikeBoardsByUserIdWithPaging" resultType="com.app.camvil.dto.BoardsDTO">
        SELECT b.board_id as boardId,
		b.user_id as userId, u.user_image_path as userImagePath, u.user_name as userName,
		cs.campsite_code as campsiteCode, cs.campsite_name as campsiteName,
        cs.mapX as mapX, cs.mapY as mapY, b.board_content as boardContent,
        b.post_date as postDate, b.update_date as updateDate, b.comment_cnt as commentCnt, b.like_cnt as likeCnt
        FROM boards as b, users as u, campsites as cs
        WHERE b.user_id = u.user_id AND b.campsite_code = cs.campsite_code
        AND b.board_id IN ( SELECT board_id FROM likes WHERE user_id = '${userId}' AND like_ = true )
        AND b.usable=true AND u.usable=true
        GROUP BY b.board_id
        ORDER BY b.post_date desc LIMIT #{limit} OFFSET #{offset};
    </select>
    <select id="getBoardsContainsCode" resultType="com.app.camvil.dto.BoardsDTO">
        SELECT b.board_id as boardId,
		b.user_id as userId, u.user_image_path as userImagePath, u.user_name as userName,
		cs.campsite_code as campsiteCode, cs.campsite_name as campsiteName,
        cs.mapX as mapX, cs.mapY as mapY, b.board_content as boardContent,
        b.post_date as postDate, b.update_date as updateDate, b.comment_cnt as commentCnt, b.like_cnt as likeCnt
        FROM boards as b, users as u, campsites as cs
        WHERE b.user_id = u.user_id AND b.campsite_code = cs.campsite_code
        AND b.board_content LIKE concat('%', '${search}' ,'%') AND cs.campsite_code = '${campsiteCode}'
        AND b.usable=true AND u.usable=true
        GROUP BY b.board_id
        ORDER BY ${order} desc LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="getTotalBoardCnt" resultType="long">
        SELECT count(*) as cnt
        FROM boards
        WHERE board_content LIKE concat('%', '${search}', '%')
        AND usable=true;
    </select>
    <select id="getTotalBoardCntContainsCode" resultType="long">
        SELECT count(*) as cnt
        FROM boards
        WHERE board_content LIKE concat('%', '${search}', '%')
        AND campsite_code = '${campsiteCode}'
        AND usable=true;
    </select>
    <select id="getTotalBoardCntWithUserId" resultType="long">
        SELECT count(*) as cnt
        FROM boards
        WHERE user_id = '${userId}' AND usable=true;
    </select>
    <select id="getTotalLikeBoardCntWithUserId" resultType="long">
        SELECT count(*) as cnt
        FROM boards
        WHERE board_id IN ( SELECT board_id FROM likes WHERE user_id = '${userId}' AND like_=true) AND usable=true;
    </select>

    <select id="findLastBoardId" resultMap="boardMap">
        SELECT * FROM boards WHERE usable=true ORDER BY board_id DESC LIMIT 1;
    </select>
    <select id="findBoardByBoardId" resultMap="boardMap">
        SELECT * FROM boards WHERE board_id = '${boardId}' AND usable=true;
    </select>
    <select id="findBoardsByUserId" resultMap="boardMap">
        SELECT * FROM boards WHERE user_id = '${userId}' AND usable=true;
    </select>
    <select id="getBoardsWithLikeCount" resultMap="boardMap">
        SELECT * FROM boards  WHERE AND usable=true ORDER BY like_cnt DESC;
    </select>
    <select id="getBoardsByCampsiteCode" resultMap="boardMap">
        SELECT * FROM boards WHERE campsite_code = '${campsiteCode}' AND usable=true;
    </select>
    <select id="getCampsiteCount" resultType="com.app.camvil.dto.responsedto.CampsiteCountResponseDTO">
        SELECT campsite_code as campsiteCode, count(*) as boardCnt
        FROM boards WHERE usable = true
        GROUP BY campsite_code;
    </select>
    <select id="getCommentCountByBoardId" resultType="long">
        SELECT comment_cnt FROM boards WHERE board_id = '${board_id}' AND usable=true;
    </select>




    <insert id="insertBoard" parameterType="BoardDTO">
        INSERT INTO boards(user_id, campsite_code, board_content, post_date, update_date)
        VALUES ('${userId}', '${campsiteCode}', '${boardContent}', DATE_ADD(now(), INTERVAL 9 HOUR), DATE_ADD(now(), INTERVAL 9 HOUR));
    </insert>


    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE boards
        SET board_content='${boardContent}', campsite_code='${campsiteCode}', update_date=DATE_ADD(now(), INTERVAL 9 HOUR)
        WHERE board_id = '${boardId}';
    </update>
    <update id="increaseLike" parameterType="BoardDTO">
        UPDATE boards SET like_cnt = like_cnt + 1 WHERE board_id = '${boardId}';
    </update>
    <update id="decreaseLike" parameterType="BoardDTO">
        UPDATE boards SET like_cnt = like_cnt - 1 WHERE board_id = '${boardId}';
    </update>
    <update id="increaseComment" parameterType="BoardDTO">
        UPDATE boards SET comment_cnt = comment_cnt + 1 WHERE board_id = '${boardId}';
    </update>
    <update id="decreaseComment" parameterType="BoardDTO">
        UPDATE boards SET comment_cnt = comment_cnt - 1 WHERE board_id = '${boardId}';
    </update>
    <update id="decreaseCommentsByBoardId" parameterType="com.app.camvil.dto.CommentCountDTO">
        UPDATE boards SET comment_cnt = comment_cnt - '${commentCnt}' WHERE board_id = '${boardId}';
    </update>


    <delete id="deleteBoard" parameterType="BoardDTO">
        DELETE FROM boards WHERE board_id = '${boardId}';
    </delete>

    <select id="isUsable" resultType="boolean">
        SELECT usable FROM boards WHERE board_id = '${boardId}';
    </select>
    <update id="toUnusableByBoardId" parameterType="BoardDTO">
        UPDATE boards SET usable = false WHERE board_id = '${boardId}';
    </update>
    <update id="toUnusableByUserId" parameterType="BoardDTO">
        UPDATE boards SET usable = false WHERE user_id = '${userId}';
    </update>

</mapper>